.brandListSec {
    margin: 0 0 40px; 
}
.brandItem {
    background: #efefef;
    text-align: center;
    padding: 50px 0;
    margin: 15px 0;
}



.category_title img {
    -webkit-filter: invert(100%);
    -ms-filter: invert(100%);
    -moz-filter: invert(100%);
    filter: invert(100%);
}



.tax-pwb-brand .site-content #primary {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    float: none;
}



/**/
.brandBanner {
    height: 350px;
    background-size: cover;
    text-align: center;
    position: relative;
}
.tax-pwb-brand .pwb-brand-banner-cont {
    display: none;
}

.bannerLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.bannerLogo img {
        -webkit-filter: invert(100%);
    -ms-filter: invert(100%);
    -moz-filter: invert(100%);
    filter: invert(100%);
}